<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McChat</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    body{
        background-image: url("/public/bg.jpg");
        font-family: 'Press Start 2P', cursive;
        color:white;
    }
    .top {
        color:white;
        font-size:70px;
    }
    button{
        background-image:url("/public/but_bg.png");
        border-color:black;
        font-size:large;
        width:80%;
        padding:10px;
    }
    button:hover{
        border-color:rgb(69, 69, 69)
    }
    a{
        text-decoration:none;
    }
    .chat{
        background-color: rgba(0, 0, 0, 0.623);
        color:white;
        font-family: 'Press Start 2P', cursive;
        border-style: none;
        width:80%;
        padding:3px;
        font-size: medium;
        text-align:left;
        margin:0px;

    }
    .chat:focus{
        border-style: none;
    }
</style>
</head>